<div id="footer">
    <div>
        <ul class="navigation">
            <li class="{{#eq currentPage ''}}active{{/eq}}">
                <a href="/">Home</a>
            </li>
            <li class="{{#eq currentPage 'travel'}}active{{/eq}}">
                <a href="/travel">Travel</a>
            </li>
            <li class="{{#eq currentPage 'rooms'}}active{{/eq}}">
                <a href="/rooms">Rooms</a>
            </li>
            <li class="{{#eq currentPage 'meals'}}active{{/eq}}">
                <a href="/meals">Meals</a>
            </li>
            <li class="{{#eq currentPage 'news'}}active{{/eq}}">
                <a href="/news">News</a>
            </li>
            <li class="{{#eq currentPage 'about'}}active{{/eq}}">
                <a href="/about">About</a>
            </li>
            <li class="{{#eq currentPage 'contact'}}active{{/eq}}">
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </div>
    <p>
        © 2023 by Travlr Getaways. All Rights Reserved
    </p>
</div>
