<div id="header">
    <div id="logo">
        <a href="../../../public/index.html"><img src="../../../public/images/logo.png" alt="Logo"></a>
    </div>
    <div id="navigation">
        <ul>
            <li>
                <a href="../../../public/index.html">Home</a>
            </li>
            <li class="selected">
                <a href="/travel">Travel</a>
            </li>
            <li>
                <a href="../../../public/rooms.html">Rooms</a>
            </li>
            <li>
                <a href="../../../public/meals.html">Meals</a>
            </li>
            <li>
                <a href="../../../public/news.html">News</a>
            </li>
            <li>
                <a href="../../../public/about.html">About</a>
            </li>
            <li>
                <a href="../../../public/contact.html">Contact</a>
            </li>
        </ul>
    </div>
</div>
