<div id="header">
    <div id="logo">
        <a href="/"><img src="../images/logo.png" alt="Logo"></a>
    </div>
    <div id="navigation">
        <ul>
            <li class="{{#eq currentPage ''}}selected{{/eq}}">
                <a href="/">Home</a>
            </li>
            <li class="{{#eq currentPage 'travel'}}selected{{/eq}}">
                <a href="/travel">Travel</a>
            </li>
            <li class="{{#eq currentPage 'rooms'}}selected{{/eq}}">
                <a href="/rooms">Rooms</a>
            </li>
            <li class="{{#eq currentPage 'meals'}}selected{{/eq}}">
                <a href="/meals">Meals</a>
            </li>
            <li class="{{#eq currentPage 'news'}}selected{{/eq}}">
                <a href="/news">News</a>
            </li>
            <li class="{{#eq currentPage 'about'}}selected{{/eq}}">
                <a href="/about">About</a>
            </li>
            <li class="{{#eq currentPage 'contact'}}selected{{/eq}}">
                <a href="/contact">Contact</a>
              </li>
        </ul>
    </div>
</div>
